<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/lib/layui-v2.6.3/css/layui.css"
          th:href="@{/lib/layui-v2.6.3/css/layui.css}"
          media="all">
    <link rel="stylesheet" href="../../../static/css/public.css" th:href="@{/css/public.css}" media="all">
</head>
<body>


<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <!-- 左树 -->
        <div class="layui-col-sm12 layui-col-md5 layui-col-lg3">
            <div class="layui-card">
                <div class="layui-card-body mini-bar" id="departmentTree">

                </div>
            </div>
        </div>
        <!-- 右表-->
        <div class="layui-col-sm12 layui-col-md7 layui-col-lg9">

            <div class="layui-card">
                <div class="layui-card-body">

                    <fieldset class="table-search-fieldset">
                        <legend>搜索信息</legend>
                        <div style="margin: 10px 10px 10px 10px">
                            <form class="layui-form layui-form-pane" action="">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">用户名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="realName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">机构码</label>
                                        <div class="layui-input-inline">
                                            <select name="deptId" lay-search="">
                                                <option value="">直接选择或搜索选择</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                                lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                                        </button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </fieldset>

                    <script type="text/html" id="toolbarDemo">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加
                            </button>
                            <button class="layui-btn layui-btn-sm layui-btn-danger " lay-event="batchDelete">禁用</button>
                        </div>
                    </script>

                    <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

                    <script type="text/html" id="currentTableBar">
                        <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="authorityRole">分配角色</a>
                        {{#  if(d.isDisabled===1){ }}
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="statusChange">禁用</a>
                        {{#  } else { }}
                        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="statusChange">启用</a>
                        {{#  } }}
                        <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="resetPassword">密码重置</a>
                    </script>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="../../../static/lib/layui-v2.6.3/layui.js" th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:inline="javascript">let ctx = [[@{/}]]</script>
<script th:inline="none">
    layui.use(['form', 'table', 'jquery', 'tree', 'layer'], function () {
        let $ = layui.jquery,
            table = layui.table,
            layer = layui.layer,
            tree = layui.tree,
            form = layui.form;

        let searchDeptId = "";
        $.get(ctx + 'department/tree', {}, function (res) {
            //仅节点左侧图标控制收缩
            tree.render({
                elem: '#departmentTree'
                , id: 'department'
                , data: res.data
                , onlyIconControl: true  //是否仅允许节点左侧图标控制展开收缩
                , click: function (obj) {
                    let data = obj.data;
                    searchDeptId = data.id;
                    table.render({
                        elem: '#currentTableId',
                        url: ctx + 'user/list',
                        toolbar: '#toolbarDemo',
                        defaultToolbar: ['exports', 'print', {
                            title: '提示',
                            layEvent: 'LAYTABLE_TIPS',
                            icon: 'layui-icon-tips'
                        }],
                        cols: [[
                            {type: "checkbox", width: 50},
                            {align: 'center', title: '编号', sort: true, type: 'numbers', width: 50},
                            {field: 'id', width: 80, title: 'ID', sort: true, hide: true},
                            {field: 'username', align: 'center', width: 100, title: '登录名'},
                            {field: 'realName', align: 'center', width: 100, title: '用户名'},
                            {field: 'deptName', align: 'center', width: 100, title: '所属部门'},
                            {field: 'roleName', align: 'center', title: '角色名称', minWidth: 100},
                            {field: 'createTime', align: 'center', width: 150, title: '创建时间', sort: true},
                            {
                                field: 'isDisabled', align: 'center', title: '状态', minWidth: 80, templet: function (d) {
                                    if (d.isDisabled === 1) {
                                        return "启用"
                                    } else {
                                        return "停用"
                                    }
                                }
                            },

                            {title: '操作', minWidth: 280, toolbar: '#currentTableBar', align: "center"}
                        ]],
                        limits: [10, 15, 20, 25, 50, 100],
                        limit: 15,
                        page: true,
                        skin: 'line',
                        where: {deptId: data.id}
                        // done: function () {
                        //     $(".layui-table-box").find("[data-field='id']").css("display", "none");
                        // }

                    });
                }
            });
        })


        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            let result = data.field
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    realName: result.realName,
                    deptId: result.deptId,
                    searchDeptId: searchDeptId
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加用户',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: ctx + 'user/open/add',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            let data = obj.data;
            if (obj.event === 'edit') {
                let index = layer.open({
                    title: '编辑用户',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: ctx + 'user/open/edit',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'statusChange') {
                let data = obj.data;
                layer.confirm('确定更改该账号状态吗？', function (index) {
                    $.get(ctx + "user/isDisabled", {isDisabled: data.isDisabled, id: data.id}, function (res) {
                        layer.msg(res.msg, {icon: 1, time: 1000})
                        table.reload('currentTableId')
                    })
                    layer.close(index);
                });
            } else if (obj.event === 'resetPassword') {
                layer.confirm('确定重置密码吗？', function (index) {
                    layer.close(index);
                });
            } else if (obj.event === 'authorityRole') {
                let index = layer.open({
                    title: '分配角色',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: ctx + 'user/open/role',
                    success: function (layero, index) {
                        let userId = $("#userId", layero.find("iframe")[0].contentWindow.document);
                        userId.attr('value', data.id)
                    }
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }

        });

    });
</script>

</body>
</html>