<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaiwei.rbac.mapper.system.SysUserMapper">

    <select id="selectUserList" resultType="com.huaiwei.rbac.entity.system.SysUser">
        select u.*,
        (select GROUP_CONCAT("", r.name, "")
        from sys_role r
        WHERE r.id in (SELECT role_id FROM sys_role_user ru WHERE ru.user_id = u.id)) as role_name
        from sys_user u
        <where>
            <if test="realName!=null &amp;&amp; realName!=''">
                u.real_name = #{realName}
            </if>
            <if test="deptId!=null &amp;&amp; deptId!=''">
                and u.dept_id = #{deptId}
            </if>
            <if test="searchDeptId!=null &amp;&amp; searchDeptId!=''">
                and u.dept_id = #{searchDeptId}
            </if>
        </where>
    </select>
</mapper>
